/* GERAL */
section{
   color:#0d3b66;
   padding: 10% 15%;
   
}

/* CONTEUDO */
h1{
    text-transform: uppercase;
}
p{
    margin-top: 25px;
}
#section1{
    margin-top: 50px;
    background-color: #cae2f9;
}
#section2{
    background-color: white;
}
#section3{
    background-color: #cae2f9;
}
#section4{
    background-color: white;
}



/********************
    FOOTER 
********************/
footer{
    padding: 10px;
    bottom: 0;
    background-color: #cae2f9;
    text-align: center;
}

footer .copyright{
    padding:5px 0 5px;
    font-size:1.1em;
}

footer .copyright a{
    color:#0d3b66;
    text-decoration: none;
}
